/* Styles for the 404 Page */
.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align content to the top */
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: #f8f5ef;
    /* bg color */
    color: #1c1c1c;
    /* text color */
    overflow: hidden;
    /* Hide scroll bars */
}

.not-found-title {
    font-size: 50px;
    /* 130% bigger */
    color: #EE4823;
    /* title color */
    margin-bottom: 20px;
}

.not-found-text {
    font-size: 30px;
    /* 130% bigger */
    font-weight: bold;
    margin-bottom: 10px;
}

.not-found-info {
    font-size: 16px;
    /* 130% bigger */
    margin-bottom: 20px;
}

.not-found-back a {
    font-size: 16px;
    /* 130% bigger */
    font-weight: bold;
    color: #3DA2D6;
    /* Link color */
    text-decoration: none;
}

.not-found-back a:hover {
    text-decoration: underline;
}