/* Styles for the Welcome Page */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Hide scroll bars */
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align content to the top */
    align-items: flex-start;
    /* Align text left */
    padding: 20px;
    height: 100vh;
    background-color: #f8f5ef;
    /* bg color */
    color: #1c1c1c;
    /* text color */
    overflow: hidden;
    /* Hide scroll bars */
}

.welcome-title {
    font-size: 39px;
    /* 130% bigger */
    color: #EE4823;
    /* title color */
    margin-bottom: 20px;
}

.welcome-intro {
    font-size: 20px;
    /* 130% bigger */
    margin-bottom: 20px;
}

.key-features {
    text-align: left;
    margin-bottom: 20px;
}

.feature-title {
    font-size: 24px;
    /* 130% bigger */
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-list {
    list-style-type: none;
    padding-left: 20px;
}

.feature-list li {
    font-size: 20px;
    /* 130% bigger */
    margin-bottom: 10px;
}

.welcome-info {
    font-size: 20px;
    /* 130% bigger */
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome-ending {
    font-size: 20px;
    /* 130% bigger */
    font-weight: bold;
}