TIMEZONE=+07:00
PORT=5001


DATABASE_TYPE=mysql
DATABASE_HOST=123.30.136.246
DATABASE_NAME=lvqqnbvg_learn_web
DATABASE_PORT=3306
DATABASE_USERNAME=lvqqnbvg_hoanghoa
DATABASE_PASSWORD=password
NODE_ENV=development

# JWT_SECRET=7wXDA7H8nACR7pX8nmK72mw2exwJpe4U
# LDAP_SERVER=ldap://192.168.199.2
# DOMAIN_GROUP=domain_group
# DOMAIN_USER=user_name
# DOMAIN_PASSWORD=password
# ENABLED_RDS_QUERY_LOG=false
